@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");

@media (max-width: 1005px) {
  #headTitle {
    display: none;
  }

  #Hidden {
    display: none;
  }

  #icon {
    font-size: xx-large;
    margin-left: 10px;
  }
}
